body {

  color: white;
  background-image: url('https://i.imgur.com/pnztT1T.gif');
  background-size: cover;
  height: 100vh;
  padding:0;
  margin:1;

}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}